body{
    background-color: rgba(58, 215, 237, 1);
    margin: 0px;
    font-size: 15px;

}
.header{
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    background-color: #626464;
}
.menu ul{
    text-align: center;
    list-style: none;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    padding: 15px;
    margin: 0;
    display: block;
    font-weight: lighter;
    font-size: 15px;
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 21px;
}
.menu ul li a:hover{
    background-color: rgba(247, 242, 242, 0.952);
    /* display: inline; */
}
.menu ul li:hover ul{
    display: block;
}
.menu ul ul{
    display: none;
    position: absolute;
    text-align: left;
    list-style: none;
    width: 15%;
    margin-left: 12px;
}
.menu ul ul li{
    position: relative;
    display: block;

}