body{
    background-color: rgba(255, 255, 255,);
    margin: 0;
    font-size: 15px;
    padding: 0;
}
.header{
    height: 70px;
    margin: 10px 20px 0px;
    border-radius: 5px;
    background-color: #ffff;
}
/* .menu{
    margin: 10px;
} */
.menu ul{
    float: left;
    text-align: center;
    list-style-type: none;
    position: absolute;
    background-color: aqua;
    margin-left: 100px;
    width: calc(100% - 190px);
    padding: 10px;
}
.menu ul li{
    display: inline-block;
    /* margin-right: 20px; */
}
.menu ul li a{
    text-decoration: none;
    padding: 14px;
    margin-left: 50px;
    display: block;
    font-weight: lighter;
    font-size: 15px;
    background-color: #fff;
    border-radius: 8px;
    height: 20px;
    transition-duration: .5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu ul li:last-child{
    float: right;
}
.menu ul li a:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    /* display: inline; */
}
.menu ul li:hover ul{
    display: block;
}
.menu ul ul{
    display: none;
    position: absolute;
    text-align: left;
    list-style: none;
    width: 15%;
    /* margin-left: 12px; */
    border: none;
    border-radius: 0px;
    margin-right: 20px;
}
.menu ul ul li{
    position: relative;
    display: inline;
    width: 150px;
}
.menu ul ul li a{
    margin: 0%;
    background-color: aqua;
    /* width: calc(100% - 100px); */
}
.menu ul ul li:last-child {
    float: left;
}
/* ============image style */
 /* .img1{
    max-width: 100px;
    max-height: 100px; 
} */
.img{
    margin-left: 50px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(182, 181, 181, 0.9);
    position: absolute;
    /* border-radius: 5px; */
}
.desc{
    background-color: aqua;
    width: fit-content;
    height: 20px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}